@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;500;700;900&display=swap');

body {
    background-color: #f8f8ff;
    font-family: 'Noto Serif', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font: 2.92rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.flashes h4 {
    line-height: 2;
}

.gunmetal-blue {
    background-color: #1E2B3A;
}

.sky-blue {
    background-color: #98D2EB;
}

.light-sea-green {
    background-color: #2bbbad;
}

.medium-champagne {
    background-color: #FCF6B1;
}

.pink-lavender {
    background-color: #E4B7E5;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.btn-large {
    font-weight: 500;
}

.box-shadow {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.box-border {
    border: solid 2px lightgrey;
}

.border-radius {
    border-radius: 2px;
}

.nav-wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    margin-bottom: 20px;
}

.nav-wrapper,
.sidenav {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.brand-icon {
    background-image: url(../images/wanderlust-logo.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.brand-icon-black {
    background-image: url(../images/wanderlust-logo-black.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.text-shadow-grey {
    text-shadow: 2px 2px 2px rgba(225, 225, 225, 0.75);
}

.input-field>i {
    color: #b5b5b9;
}

.register-button {
    margin-top: 10px;
    color: #f8f8ff;
}

.register-button>i {
    color: #f8f8ff;
}

.wanderlust-banner {
    background: url(../images/wanderlust.png) center center no-repeat;
    height: 30vh;
    background-size: contain;
    margin-bottom: 20px;
}

.recipe-panel {
    background-color: #fcf6b187;
    overflow: hidden;
}

.checked {
    color: orange;
}

.bold {
    font-weight: bold;
}

.recipe-img-container {
    padding: 0 !important;
    overflow: hidden;
}

.recipe-img-container::after {
    display: block;
    padding-bottom: 100%;
}

.recipe-img-container>img {
    width: 100%;
    height: 230px;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
}

@media (max-width: 600px) {
    .flex-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}