/* General styling rules for use across site */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap');

body {
    background-color: #f8f8ff;
    font-family: 'Open Sans', sans-serif;
    color: #213f61;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.row .col {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #3B3C36;
}

.hidden-h1 {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
}

h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.profile-h3 {
    margin-left: 10px;
}

.flashes h4 {
    line-height: 2;
}

.gunmetal-blue {
    background-color: #1E2B3A;
}

.sky-blue {
    background-color: #98D2EB;
}

.light-sea-green {
    background-color: #2bbbad;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.btn-large {
    font-weight: 500;
}

.btn-small {
    margin: 4px;
}

.box-shadow {
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.box-border {
    border: solid 2px lightgrey;
}

.right {
    text-align: right;
}

.border-radius {
    border-radius: 2px;
}

/* Navigation Bar Styling */
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

nav {
    margin-bottom: 20px;
}

nav .brand-logo i,
nav .brand-logo [class^="mdi-"],
nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
    margin-right: 0px;
}

.nav-wrapper,
.sidenav {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

nav ul li {
    position: relative;
    top: 48px;
}

.brand-icon {
    background-image: url(../images/wanderlust-logo.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.brand-icon-black {
    background-image: url(../images/wanderlust-logo-black.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.text-shadow-grey {
    text-shadow: 2px 2px 2px rgba(225, 225, 225, 0.75);
}

/* Footer Styling */
#footer-row {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.page-footer {
    background-color: #1E2B3A;
    padding: 0;
    -webkit-box-shadow: 0 -2px 2px 0 rgb(0 0 0 / 14%), 0 -3px 1px -2px rgb(0 0 0 / 12%), 0 -1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 -2px 2px 0 rgb(0 0 0 / 14%), 0 -3px 1px -2px rgb(0 0 0 / 12%), 0 -1px 5px 0 rgb(0 0 0 / 20%);
}

.page-footer .footer-copyright {
    padding: 0px;
}

.social-links a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin-bottom: 8px;
    border-radius: 25px;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #077787;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    -webkit-box-shadow: 0px 0.4rem 0.4rem 0px rgba(0, 0, 0, .4);
    box-shadow: 0px 0.4rem 0.4rem 0px rgba(0, 0, 0, .4);
}

.social-links a i:hover {
    background-color: #2bbbad;
}

/* Home / Recipes.html Styling */
.wanderlust-banner {
    background: url(../images/wanderlust.png) center center no-repeat;
    height: 30vh;
    background-size: contain;
    margin-bottom: 20px;
}

#search-bar {
    margin-bottom: 0px;
}

.recipe-panel {
    background-color: #fff;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.recipe-panel:hover {
    -webkit-transform: scale(1.015);
    -ms-transform: scale(1.015);
    transform: scale(1.015);
}

.pagination {
    margin-bottom: 10px;
}

.pagination li.active {
    color: #fafafa;
    border-radius: 25px;
    background: #2bbbad;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    -webkit-box-shadow: 0px 0.4rem 0.4rem 0px rgba(0, 0, 0, .4);
    box-shadow: 0px 0.4rem 0.4rem 0px rgba(0, 0, 0, .4);
}

/* Form/Button Styling - Add/edit recipes/categories, login/register pages etc.*/
.register-button {
    margin-top: 10px;
    color: #f8f8ff;
}

.register-button>i {
    color: #f8f8ff;
}

.input-field>i {
    color: #b5b5b9;
}

.input-field>label {
    pointer-events: none;
    color: #555555;
}

.collapsible {
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    border: none;
    margin: 0px;
}

.collapsible-header {
    background-color: transparent;
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.collapsible-body {
    border-bottom: 0px;
}

.remove-list-item {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.recipe-title-link a {
    cursor: pointer;
    color: #3B3C36;
}

.checked {
    color: goldenrod;
}

.bold {
    font-weight: bold;
}

/* Categories Card Styling */
.card .card-image .card-title {
    font-weight: bold;
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.card .card-title {
    font-size: 30px;
}

.card .card-action {
    padding: 8px;
}

.card .card-image img {
    display: block;
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Recipe Summary & Details Page Styling */
.recipe-img-container {
    padding: 0 !important;
    overflow: hidden;
    position: relative;
}

.img-no-padding {
    padding: 0 !important;
}

.recipe-img-container::after {
    display: block;
    padding-bottom: 100%;
}

.recipe-img-container>img {
    display: block;
    width: 100%;
    height: 260px;
    -o-object-fit: cover;
    object-fit: cover;
}

.collection-item {
    position: relative;
}

.new-recipe-img {
    padding: 0px !important;
    position: relative;
    height: 400px;
    width: 100%;
}

.new-recipe-img>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

.upload-img-btn {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

#recipe-overview {
    position: relative;
}

.recipe-summary-profile {
    position: relative;
}

#recipe-favorite-div,
.recipe-edit-delete {
    position: absolute;
    top: 5px;
    right: 5px;
}

.fa-edit,
.fa-trash-alt {
    font-size: 1.5rem !important;
}

#recipe_favorite>input[type="checkbox"]~.material-icons::after {
    content: "favorite_border";
}

#recipe_favorite>input[type="checkbox"]:checked~.material-icons::after {
    content: "favorite";
}

.recipe-header {
    background-color: #fff;
}

.recipe-header-img {
    display: block;
    width: 100%;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    height: 400px;
}

.recipe-title {
    height: 100px;
}

.star-rating {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.font-large {
    font-size: large;
}

.recipe-h1 {
    font-size: 2rem;
}

.fa-star {
    font-size: 1.75rem;
}

.recipe-rating-home>.fa-star {
    font-size: large;
}

/* User Comments */
.comment-content {
    overflow: hidden;
    background: #eaeaea;
    color: #434343;
    padding: 1rem;
    border-radius: 8px;
    z-index: 1;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    background-image: linear-gradient(-15deg, rgba(24, 255, 95, .18), #fff);
}


/* Previous Rating styling taken from StackOverflow post below and adapted */
/* https://stackoverflow.com/questions/45346098/content-number-inside-a-shape-symbol */
.previous-rating {
    height: 100px;
    width: 100px;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    text-align: center;
    background: goldenrod;
    color: black;
    font-weight: bold;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}

.previous-rating::before {
    display: inline-block;
    height: 100%;
    background: blue;
    vertical-align: middle;
    content: '';
}

.submit-div {
    padding: 10px 0px;
}

/* CSS Fix to auto height Materialize tabs from: */
/* https://github.com/Dogfalo/materialize/issues/4159#issuecomment-387969837 */
.tabs-content.carousel .carousel-item {
    height: auto;
}

.tabs .tab a {
    color: #38506c;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: #38506c;
    font-weight: bold;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: rgba(152, 210, 235, 0.2);
}

.tabs .indicator {
    background-color: #38506c;
}

.collection {
    -webkit-box-shadow: 0 2px 0 0 rgb(0 0 0 / 14%);
    box-shadow: 0 2px 0 0 rgb(0 0 0 / 14%);
    background-color: #fff;
    font-weight: bold;
}

.blue-font {
    color: #213f61;
}

.method-steps {
    height: auto !important;
}

.hidden {
    display: none;
}

/* Responsive Media Queries */
/* Large Tablet */
@media (max-width: 1200px) {
    .fa-star {
        font-size: 1.5rem;
    }

    .recipe-summary-home>p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .recipe-img-container>img {
        height: 280px;
    }

    .card .card-title {
        font-size: 22px;
        padding: 12px;
    }

    .card .card-image .card-title {
        padding: 12px;
    }
}

@media (min-width: 800px) {
    nav ul li {
        top: 0px;
    }
}

/* Mid-size Tablet */
@media (max-width: 800px) {
    .recipe-title {
        height: 50px;
    }

    .recipe-title>h1 {
        margin: 15px 0px;
    }

    .recipe-h1 {
        font-size: 1.5rem;
    }
}


/* Mobile and Smartphone */
@media (max-width: 600px) {
    .page-h1 {
        font-size: 2.92rem !important;
    }

    .page-h2 {
        font-size: 2.92rem !important;
    }

    .flex-column-reverse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    ul,
    p {
        margin: 0;
    }

    .recipe-time {
        margin-bottom: 10px;
    }

    .recipe-img-container>img {
        height: 230px;
    }

    .new-recipe-img {
        height: 300px;
        width: 100%;
    }

    .btn-large {
        margin-bottom: 10px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        padding: 0 14px;
    }
}