<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/style.css')  }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Wanderlust Recipes</title>
</head>

<header>
    <!-- Top Navigation Bar -->
    <nav class="gunmetal-blue">
        <div class="nav-wrapper text-shadow">
            <a href="/" class="brand-logo"><i class="brand-icon"></i></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Search</a></li>
                {% if session.user %}
                <li><a href="#">New Recipe</a></li>
                <li><a href="#">Manage Categories</a></li>
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>

        <!-- Mobile Side Navigation -->
        <ul class="sidenav text-shadow-grey" id="mobile-demo">
            <a href="/" class="brand-logo"><i class="brand-icon-black"></i></a>
            <br>
            <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Search</a></li>
            {% if session.user %}
            <li><a href="#">New Recipe</a></li>
            <li><a href="#">Manage Categories</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

</header>

<body>
    <section>
        <!-- Jinja content inserts -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="sky-blue center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif%}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}


        {% endblock %}
    </main>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>