{% extends "base.html" %}
{% block content %}

<h1 class="page-h1 center-align">Edit Category</h1>

<section class="row">
    <form class="col s12 box-shadow border-radius box-border" method="POST"
        action="{{ url_for('edit_category', category_id=category._id) }}">
        <div class="row">
            <!-- Category Title -->
            <div class="input-field col s12">
                <i class="fas fa-birthday-cake prefix"></i>
                <input id="category_name" name="category_name" minlength="3" maxlength="25" type="text"
                    value="{{ category.category_name }}" class="validate" required>
                <label for="category_name">Category Name</label>
            </div>
            <!-- Category Image Upload -->
            <div class="col s10 offset-s1 new-recipe-img box-shadow border-radius box-border">
                <img src="{{ category.image_upload_url }}" id="recipe-upload-image" alt="New recipe image">
                <button id="image_upload_btn" class="btn-small upload-img-btn">Upload Image</button>
                <input type="hidden" id="image_upload_url" name="image_upload_url"
                    value="{{ category.image_upload_url }}">
            </div>
        </div>
        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_categories') }}" class="btn-large bold">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <button type="submit" class="btn-large bold">
                    Edit Category <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</section>


{% endblock %}

{% block scripts %}
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/recipe-image-upload.js') }}" type="text/javascript"></script>
{% endblock %}