{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Edit Recipe</h2>

<section class="row">
    <form class="col s12 box-shadow border-radius box-border" method="POST"
        action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <div class="row">
            <!-- Recipe Image Upload -->
            <div class="col s12 l6 new-recipe-img box-shadow border-radius box-border">
                <img src="{{ recipe.image_upload_url }}" id="recipe-upload-image" alt="New recipe image">
                <button id="image_upload_btn" class="btn-small upload-img-btn">Upload Image</button>
                <input type="hidden" id="image_upload_url" name="image_upload_url"
                    value="{{ recipe.image_upload_url }}">
            </div>
            <div class="col s12 l6">
                <!-- Recipe Title -->
                <div class="input-field col s12">
                    <i class="fas fa-plus prefix"></i>
                    <input id="recipe_title" name="recipe_title" minlength="5" maxlength="50" type="text"
                        class="validate" value="{{ recipe.recipe_title }}" pattern="^[a-zA-Z0-9 ]*{5,50}$" required>
                    <label for="recipe_title">Recipe Title</label>
                </div>
                <!-- Recipe Serving Amount -->
                <div class="input-field col s6">
                    <i class="fas fa-utensils prefix"></i>
                    <input type="number" id="servings" name="servings" class="validate" min="1" max="20"
                        value="{{ recipe.servings }}">
                    <label for="servings">Servings</label>
                </div>
                <!-- Recipe Category Choice -->
                <div class="input-field col s6">
                    <i class="fas fa-birthday-cake prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                        {% if category.category_name == recipe.category_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Category</label>
                </div>
            </div>
        </div>
        <!-- Preparation / Cooking Time -->
        <div class="row">
            <!-- Recipe Preparation Time -->
            <div class="col s6">
                <h6>Prep Time</h6>
                <div class="input-field col s7">
                    <i class="fas fa-clock prefix"></i>
                    <input type="number" id="prep_hours" name="prep_hours" class="validate" min="0" max="24"
                        value="{{ recipe.prep_hours }}" required>
                    <label for="prep_hours">Hours</label>
                </div>
                <div class="input-field col s5">
                    <input type="number" id="prep_minutes" name="prep_minutes" class="validate" min="0" max="59"
                        value="{{ recipe.prep_minutes }}" required>
                    <label for="prep_minutes">Minutes</label>
                </div>
            </div>
            <!-- Recipe Cooking time -->
            <div class="col s6">
                <h6>Cooking Time</h6>
                <div class="input-field col s7">
                    <i class="fas fa-clock prefix"></i>
                    <input type="number" id="cook_hours" name="cook_hours" class="validate" min="0" max="24"
                        value="{{ recipe.cook_hours }}" required>
                    <label for="cook_hours">Hours</label>
                </div>
                <div class="input-field col s5">
                    <input type="number" id="cook_minutes" name="cook_minutes" class="validate" min="0" max="59"
                        value="{{ recipe.cook_minutes }}" required>
                    <label for="cook_minutes">Minutes</label>
                </div>
            </div>
        </div>
        <!-- Recipe Description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix"></i>
                <textarea id="recipe_description" name="recipe_description" minlength="5" maxlength="160"
                    class="materialize-textarea validate" required>{{- recipe.recipe_description -}}</textarea>
                <label for="recipe_description">Description</label>
            </div>
        </div>
        <!-- Recipe Ingredients -->
        <div class="row">
            <div class="col s12">
                <h6>Ingredients</h6>
            </div>
            <div class="col s12">
                <ul id="ingredients" class="collection validate">
                    {% for ingredient in recipe.ingredients %}
                    <li class="collection-item">
                        <div class="input-field">
                            <input id="ingredients" name="ingredients" type="text" maxlength="100" required=""
                                value="{{ ingredient }}">
                            <label for="ingredients" class="active">Ingredient</label>
                        </div>
                        <a class="remove-list-item">
                            <i class="fas fa-times"></i>
                            <span class="sr-only">Remove Ingredient</span>
                        </a>
                    </li>
                    {% endfor %}
                    <li class="collection-item">
                        <a class="btn-floating btn-small waves-effect waves-light add-ingredient-list-item">
                            <i class="fas fa-plus"></i>
                            <span class="sr-only">Add Ingredient</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Recipe Method Steps -->
        <div class="row">
            <div class="col s12">
                <h6>Method</h6>
            </div>
            <div class="col s12">
                <ul id="method_step" name="method_step" class="collection validate">
                    {% for step in recipe.method_step %}
                    <li class="collection-item">
                        <a class="remove-list-item">
                            <i class="fas fa-times"></i>
                            <span class="sr-only">Add Method Step</span>
                        </a>
                        <div class="input-field">
                            <textarea name="method_step" class="materialize-textarea" required="" spellcheck="false"
                                style="height: 43px;">{{- step -}}</textarea>
                            <label for="method_step" class="active">Step Description</label>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="collection-item">
                        <a class="btn-floating btn-small waves-effect waves-light add-method-step-item">
                            <i class="fas fa-plus"></i>
                            <span class="sr-only">Add Ingredient</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Created On Timestamp -->
        <div class="hidden">
            <input type="text" id="created_on" name="created_on" value="{{ recipe.created_on }}">
            <label for="created_on"></label>
        </div>
        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large bold red lighten-2">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <button type="submit" class="btn-large bold">
                    Edit Recipe <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</section>


{% endblock %}

{% block scripts %}
<script src="//widget.cloudinary.com/global/all.js"></script>
<script src="{{ url_for('static', filename='js/recipe-image-upload.js') }}"></script>
{% endblock %}