{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Log In</h2>

<div class="row">
    <form class="col s12 m8 offset-m2 box-shadow border-radius box-border" method="POST"
        action="{{ url_for('login') }}">
        <!-- Username -->
        <div class="input-field col s12">
            <i class="fas fa-user prefix"></i>
            <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15"
                pattern="^[a-zA-Z0-9]{5,15}$" required>
            <label for="username">Username</label>
        </div>
        <!-- Password -->
        <div class="input-field col s12">
            <i class="fas fa-lock prefix"></i>
            <input id="password" name="password" type="password" minlength="5" maxlength="15"
                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
            <label for="password">Password</label>
        </div>
        <!-- login Button -->
        <div class="row">
            <button type="submit" class="col s6 offset-s3 btn-large light-sea-green text-shadow register-button roboto"
                required>
                Log In <i class="fas fa-sign-in-alt"></i>
            </button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            No account yet?
            <a href="{{ url_for('register') }}">Register Account</a>
        </p>
    </div>
</div>

{% endblock %}