{% extends "base.html" %}

{% block content %}

<section id="recipe-overview">
    <div class="row recipe-header box-shadow border-radius box-border center-align">
        {% if session.user %}
        <div id="recipe-favourite">
            <form action="" method="POST" id="recipe_favourite_checkbox">
                <input type="hidden" name="recipeid" value="{{ recipe._id }}">
                <label for="recipe_favourite" data-path="url_for('ajax_recipe_favorite')"
                    class="btn-floating btn-large waves-effect waves-light teal accent-4">

                    <input type="checkbox" id="recipe_favourite" name="recipe_favourite">

                    <i class="far fa-heart"></i>
                </label>
            </form>
        </div>
        {% endif %}
        <div class="col l6 s12 img-no-padding">
            <img src="{{ recipe.image_upload_url }}" alt="{{ recipe.recipe_title }}" class="recipe-header-img">
        </div>
        <div class="col l6 s12 bold">
            <div class="col s12 recipe-title">
                <h1 class="recipe-h1 center-align">{{ recipe.recipe_title }}</h1>
            </div>
            <div class="col s12 recipe-summary">
                <div class="col s12">
                    <h6 class="font-large">Rating:</h6>
                    <ul>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </ul>
                </div>
                <div class="col s12">
                    <div class="col s6">
                        <h6 class="font-large"><i class="fas fa-utensils"></i> Serves:</h6>
                        <p>{{ recipe.servings }}</p>
                    </div>
                    <div class="col s6">
                        <h6 class="font-large"><i class="fas fa-clock"></i> Time:</h6>
                        <p>
                            Prep: {{ recipe.prep_minutes }} mins
                            <br>
                            Cook: {{ recipe.cook_minutes }} mins
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="recipe-details">
    <div class="row">
        <div class="col s12">
            <ul id="tabs-swipe-demo" class="tabs box-shadow border-radius box-border">
                <li class="tab col s6"><a class="active" href="#recipe-ingredients">Ingredients</a></li>
                <li class="tab col s6"><a href="#recipe-method">Method</a></li>
            </ul>
        </div>
        <div id="recipe-ingredients" class="col s12">
            <ul class="collection border-radius box-border">
                {% for ingredient in recipe.ingredients %}
                <li class="collection-item">
                    <label class="blue-font">
                        <input type="checkbox" class="filled-in">
                        <span>{{ ingredient }}</span>
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="recipe-method" class="col s12">
            <div id="method-steps" class="col s12">
                <ol class="collection border-radius box-border">
                    {% for step in recipe.method_step %}
                    <li class="collection-item">
                        {{ step }}
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/ajax-form-submission.js') }}"></script>
{% endblock %}