{% extends "base.html" %}

{% block content %}
<!-- Website Banner -->
<section>
    <div class="wanderlust-banner">

    </div>
</section>

<!-- h1 visually hidden with CSS but available to assistive technology - brand visibile in hero banner -->
<!-- https://wdn.unl.edu/page-title-h1-best-practices -->
<h1 class="hidden-h1">Wanderlust Recipes</h1>

<!-- Latest Recipes -->
<!-- Create div based off recipe db info - Odd no. loop has image on left -->
<h2 class="center-align">Latest Recipes</h2>
{% for recipe in recipes %}


{% if loop.index % 2 !=0 %}

<div class="row recipe-panel box-shadow border-radius box-border center-align">
    <div class="col m4 s12 recipe-img-container">
        <img src="{{ recipe.image_upload_url }}" class="recipe-image" alt="{{ recipe.recipe_title }}">
    </div>
    <div class="col m8 s12 recipe-summary">
        <h3><a href="/recipes/{{ recipe.url }}">{{ recipe.recipe_title }}</a></h3>
        <p>{{ recipe.recipe_description }}</p>
        <p><em>by: {{ recipe.created_by }}</em></p>
        <div class="recipe-info">
            <div class="col m4 s12 bold">
                <h6><i class="fas fa-utensils"></i> Serves:</h6>
                <p>{{ recipe.servings }}</p>
            </div>
            <div class="col m4 s12 bold">
                <h6>Rating:</h6>
                <ul>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </ul>
            </div>
            <div class="col m4 s12 bold">
                <h6><i class="fas fa-clock"></i> Time:</h6>
                <p>
                    Prep: {{ recipe.prep_minutes }} mins
                    <br>
                    Cook: {{ recipe.cook_minutes }} mins
                </p>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="row recipe-panel box-shadow border-radius box-border center-align  flex-column-reverse">

    <div class="col m8 s12 recipe-summary">
        <h3><a href="/recipes/{{ recipe.url }}">{{ recipe.recipe_title }}</a></h3>
        <p>{{ recipe.recipe_description }}</p>
        <p><em>by: {{ recipe.created_by }}</em></p>
        <div class="recipe-info">
            <div class="col m4 s12 bold">
                <h6><i class="fas fa-utensils"></i> Serves:</h6>
                <p>{{ recipe.servings }}</p>
            </div>
            <div class="col m4 s12 bold">
                <h6>Rating:</h6>
                <ul>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </ul>
            </div>
            <div class="col m4 s12 bold">
                <h6><i class="fas fa-clock"></i> Time:</h6>
                <p>
                    Prep: {{ recipe.prep_minutes }} mins
                    <br>
                    Cook: {{ recipe.cook_minutes }} mins
                </p>
            </div>
        </div>
    </div>
    <div class="col m4 s12 recipe-img-container">
        <img src="{{ recipe.image_upload_url }}" class="recipe-image" alt="{{ recipe.recipe_title }}">
    </div>
</div>

{% endif %}

{% endfor %}

{% endblock %}

<!-- Add in to template -->
{{ recipe.category_name }}<br>