{% extends "base.html" %}
{% from "recipe-rating.html" import recipe_star_rating_display, previous_recipe_star_rating %}

{% block styles %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

<section id="recipe-overview">
    <div class="row recipe-header box-shadow border-radius box-border center-align">
        {% if session.user %}
        <div id="recipe-favorite-div">
            <form action="{{ url_for('ajax_recipe_favorite') }}" method="POST" id="recipe_favorite_form">
                <input name="recipeId" type="hidden" value="{{ recipe._id }}">

                <label id="recipe_favorite" data-path="url_for('ajax_favorite')"
                    class="btn-floating btn-large btn-plum waves-effect waves-light teal accent-4">

                    <input name="favorite" type="checkbox" {{ 'checked' if interaction.favorite }} />
                    <i class="material-icons"></i>
                </label>
            </form>
        </div>
        {% endif %}
        <div class="col l6 s12 img-no-padding">
            <img src="{{ recipe.image_upload_url }}" alt="{{ recipe.recipe_title }}" class="recipe-header-img">
        </div>
        <div class="col l6 s12 bold">
            <div class="col s12 recipe-title">
                <h1 class="recipe-h1 center-align">{{ recipe.recipe_title }}</h1>
            </div>
            <div class="col s12 recipe-summary">
                <div class="col s12">
                    <h6 class="font-large">Rating:</h6>
                    {{ recipe_star_rating_display(recipe.rating[0])}}
                </div>
                <div class="col s12">
                    <div class="col s6">
                        <h6 class="font-large"><i class="fas fa-utensils"></i> Serves:</h6>
                        <p>{{ recipe.servings }}</p>
                    </div>
                    <div class="col s6">
                        <h6 class="font-large"><i class="fas fa-clock"></i> Time:</h6>
                        <p>
                            Prep: {{ recipe.prep_minutes }} mins
                            <br>
                            Cook: {{ recipe.cook_minutes }} mins
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="recipe-details">
    <div class="row">
        <div class="col s12">
            <ul id="tabs-swipe-demo" class="tabs box-shadow border-radius box-border">
                <li class="tab col s6"><a class="active" href="#recipe-ingredients">Ingredients</a></li>
                <li class="tab col s6"><a href="#recipe-method">Method</a></li>
            </ul>
        </div>
        <div id="recipe-ingredients" class="col s12">
            <ul class="collection border-radius box-border">
                {% for ingredient in recipe.ingredients %}
                <li class="collection-item">
                    <label class="blue-font">
                        <input type="checkbox" class="filled-in">
                        <span>{{ ingredient }}</span>
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="recipe-method" class="col s12">
            <div id="method-steps" class="col s12">
                <ol class="collection border-radius box-border">
                    {% for step in recipe.method_step %}
                    <li class="collection-item">
                        {{ step }}
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</section>

{% if session.user %}
<!-- Recipe Rating Section -->
<section>
    <div class="row">
        <div class="col s12 center-align">
            <h4>Rate This Recipe</h4>
            <div class="col s12">
                <div class="col s12">
                    {{ previous_recipe_star_rating(interaction.rating) }}
                </div>
                <form action="{{ url_for('ajax_recipe_rating') }}" id="recipe_rating_form" method="POST">
                    <input name="recipeId" type="hidden" value="{{ recipe._id }}">
                    <label for="rating-1">
                        <input name="rating" id="rating-1" class="with-gap" type="radio" value="1" />
                        <span>1</span>
                    </label>
                    <label for="rating-2">
                        <input name="rating" id="rating-2" class="with-gap" type="radio" value="2" />
                        <span>2</span>
                    </label>
                    <label for="rating-3">
                        <input name="rating" id="rating-3" class="with-gap" type="radio" value="3" />
                        <span>3</span>
                    </label>
                    <label for="rating-4">
                        <input name="rating" id="rating-4" class="with-gap" type="radio" value="4" />
                        <span>4</span>
                    </label>
                    <label for="rating-5">
                        <input name="rating" id="rating-5" class="with-gap" type="radio" value="5" />
                        <span>5</span>
                    </label>
                    <div class="col s12">
                        <button type="submit" class="btn-small bold">
                            Submit <i class="fas fa-caret-right right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/ajax-form-submission.js') }}"></script>
{% endblock %}