{% macro star_on(n) %}
{% if n > 0 %}
checked
{% else %}

{% endif %}
{% endmacro %}

<!-- Generate Filled or non-filled stars based on database rating -->
{% macro recipe_star_rating_display(rating) %}
<ul class="star-rating">
    {% for i in [rating, rating-1, rating-2, rating-3, rating-4] %}
    <li class="star">
        <i class="fa fa-star {{ star_on(i) }}"></i>
        <span class="sr-only">{{ rating }} stars</span>
    </li>
    {% endfor %}
</ul>
{% endmacro %}

<!-- Dummy input for formatting prior to function build -->
{% macro previous_recipe_star_rating(rating) %}
<div class="col s12">
    <span>Previous Rating</span>
    <div class="previous-rating center-align">{{ rating }}</div>
    <span class="sr-only">{{ rating }} stars</span>
</div>
{% endmacro %}