{% extends "base.html" %}
{% from "recipe-rating.html" import recipe_star_rating_display %}

{% block content %}
<!-- Website Banner -->
<section id="website-banner-section">
    <a href="/">
        <div class="wanderlust-banner">
        </div>
    </a>
</section>

<!-- h1 visually hidden with CSS but available to assistive technology - brand visibile in hero banner -->
<!-- https://wdn.unl.edu/page-title-h1-best-practices -->
<div>
    <h1 class="hidden-h1">Wanderlust Recipes</h1>
</div>

<!-- Search Section -->
<section id="recipe-search-section">
    <div>
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row">
                <div id="search-bar" class="input-field col s12">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="search-text" id="search-text" class="validate" minlength="3">
                    <label for="search-text">Search by Recipe Name or Ingredients</label>
                </div>
                <ul class="col s12 collapsible bold">
                    <li>
                        <div class="collapsible-header">Advanced Options</div>
                        <div class="collapsible-body">
                            <div class="input-field col s12">
                                <i class="fas fa-birthday-cake prefix"></i>
                                <select id="category_name" name="category_name" class="validate">
                                    <option value="" disabled selected>All</option>
                                    {% for category in categories %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="category_name">Category</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="fas fa-utensils prefix"></i>
                                <select id="servings" name="servings" class="validate">
                                    <option value="" disabled selected>All</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                                <label for="servings">Servings</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="fas fa-star prefix"></i>
                                <select id="rating-search" name="rating-search" class="validate">
                                    <option value="" disabled selected>All</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <label for="rating-search">Minimum Rating</label>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_recipes') }}" class="btn-small bold">Reset</a>
                    <button type="submit" class="btn-small bold">
                        <i class="fas fa-search left"></i>
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Latest Recipes -->
<!-- Create div based off recipe db info - Odd no. loop has image on left -->
<section id="recipe-feed-section">
    <h2 class="center-align">Latest Recipes</h2>

    {% for recipe in recipes %}

    {% if loop.index % 2 !=0 %}

    <div class="row recipe-panel box-shadow border-radius box-border center-align">
        <div class="col m4 s12 recipe-img-container">
            <img src="{{ recipe.image_upload_url }}" class="recipe-image" alt="{{ recipe.recipe_title }}">
        </div>
        <div class="col m8 s12">
            <h3 class="recipe-title-link"><a href="/recipes/{{ recipe.url }}">{{ recipe.recipe_title }}</a></h3>
            <div class="recipe-summary-home">
                <p>{{ recipe.recipe_description }}</p>
                <p><em>by: {{ recipe.created_by|capitalize }}</em></p>
            </div>
            <div class="recipe-info">
                <div class="col m4 s12 bold">
                    <h6><i class="fas fa-utensils"></i> Serves:</h6>
                    <p>{{ recipe.servings }}</p>
                </div>
                <div class="col m4 s12 bold">
                    <h6>Rating:</h6>
                    {{ recipe_star_rating_display(recipe.rating[0])}}
                </div>
                <div class="col m4 s12 bold recipe-time">
                    <h6><i class="fas fa-clock"></i> Time:</h6>
                    <p>
                        Prep: {{ recipe.prep_minutes }} mins
                        <br>
                        Cook: {{ recipe.cook_minutes }} mins
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    <div class="row recipe-panel box-shadow border-radius box-border center-align  flex-column-reverse">
        <div class="col m8 s12">
            <h3 class="recipe-title-link"><a href="/recipes/{{ recipe.url }}">{{ recipe.recipe_title }}</a></h3>
            <div class="recipe-summary-home">
                <p>{{ recipe.recipe_description }}</p>
                <p><em>by: {{ recipe.created_by|capitalize }}</em></p>
            </div>
            <div class="recipe-info">
                <div class="col m4 s12 bold">
                    <h6><i class="fas fa-utensils"></i> Serves:</h6>
                    <p>{{ recipe.servings }}</p>
                </div>
                <div class="col m4 s12 bold">
                    <h6>Rating:</h6>
                    {{ recipe_star_rating_display(recipe.rating[0])}}
                </div>
                <div class="col m4 s12 bold recipe-time">
                    <h6><i class="fas fa-clock"></i> Time:</h6>
                    <p>
                        Prep: {{ recipe.prep_minutes }} mins
                        <br>
                        Cook: {{ recipe.cook_minutes }} mins
                    </p>
                </div>
            </div>
        </div>
        <div class="col m4 s12 recipe-img-container">
            <img src="{{ recipe.image_upload_url }}" class="recipe-image" alt="{{ recipe.recipe_title }}">
        </div>
    </div>

    {% endif %}

    {% endfor %}
    <div class="center-align">
        {{ pagination.links }}
    </div>
</section>

{% endblock %}