{% macro star_on(n) %}
{% if n > 0 %}
checked
{% else %}

{% endif %}
{% endmacro %}


{% macro recipe_star_rating_display(rating) %}
<ul id="star-rating">
    {% for i in [rating, rating-1, rating-2, rating-3, rating-4] %}
    <li class="star">
        <i class="fa fa-star {{ star_on(i) }}"></i>
    </li>
    {% endfor %}
</ul>
{% endmacro %}

<!-- Dummy input for formatting prior to function build -->
{% macro recipe_star_rating_submit(rating) %}
<radio-group class="star-rating-input">
    {% for i in range(1, 6) %}
    <input type="radio" id="rating-{{ i }}" name="rating" value="{{ i }}">
    <label for="rating-{{ i }}" class="star">
        <i class="fa fa-star {{ star_on(i) }}"></i>
    </label>
    {% endfor %}
</radio-group>
{% endmacro %}