{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Register</h2>

<div class="row">
    <form class="col s12 m8 offset-m2 box-shadow border-radius box-border" method="POST"
        action="{{ url_for('register') }}">
        <!-- Username -->
        <div class="input-field col s12">
            <i class="fas fa-user-plus prefix"></i>
            <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15"
                pattern="^[a-zA-Z0-9]{5,15}$" required>
            <label for="username">Username</label>
        </div>
        <!-- Password -->
        <div class="input-field col s12">
            <i class="fas fa-lock prefix"></i>
            <input id="password" name="password" type="password" minlength="5" maxlength="15"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d$@$!%*?&]{5,25}" required>
            <label for="password">Password</label>
            <span class="helper-text" data-success="Password OK"
                data-error="Password must contain at least 5 characters and include one capital letter and one number">
                Password must contain at least 5 characters and include one capital letter and one number
            </span>
        </div>
        <div class="input-field col s12">
            <i class="fas fa-lock prefix"></i>
            <input id="password-confirm" name="password-confirm" type="password" minlength="5" maxlength="15"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d$@$!%*?&]{5,25}" required>
            <label for="password-confirm">Confirm Password</label>
            <span class="helper-text" data-success="Passwords Match" data-error="Passwords do not match">
            </span>
        </div>
        <!-- Register Button -->
        <div class="row">
            <button type="submit" class="col s6 offset-s3 btn-large light-sea-green text-shadow register-button roboto"
                required>
                Register <i class="fas fa-sign-in-alt"></i>
            </button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already registered?
            <a href="{{ url_for('login') }}">Log In</a>
        </p>
    </div>
</div>
{% endblock %}